
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

 /** header **/

 header{
    width: 30%;
}

 #logohead{
    width: 70px;
    height: 40px;
    margin-top: 35px;
    margin-left: 80px;
    opacity: 0.7;
}


.head{
    display: inline-block;
    vertical-align: middle;
}


 /** nav **/

 nav{width: 65%;
}

ul :nth-child(2n) {
    color: rgb(150, 150, 150);
}

ul :nth-child(3n) {
    color: rgb(150, 150, 150);
}

ul :nth-child(5n) {
    color: rgb(150, 150, 150);
}

ul :nth-child(6n) {
    color: rgb(150, 150, 150);
}

 .menu {
     display: flex;
     justify-content: space-around;
     width: 100%;
     list-style: none;
     margin-top: 45px;
 }

 .menu :hover {
    transition: all 0.5s ease-out;
    color: rgb(245, 129, 20);
}

 /** banner **/

 .banner{
     margin-top: 30px;
    
 }

.banner img {position: absolute;
    width: 100%;
}

 .textbanner1{
    position: relative;
    display: flex;
    justify-content:center;
    top:180px;
    font-size: 50px;
    color: white;
 }

 .textbanner2{
    position: relative;
    display: flex;
    justify-content:center;
    top:230px;
    font-size: 23px;
    color: white;
}

.buttonbanner {
    position: relative;
    display: flex;
    justify-content:center;
    padding-top: 12px;
    padding-bottom: 12px;
    top:280px;
    border: 1px solid rgb(202, 91, 0);
    border-radius:5px;
    color: white;
    background-color: rgb(202, 91, 0);
    margin-left: 600px;
    margin-right: 600px;
}

/** banner **/

.benefits {
    position: relative;
    text-align: center;
    top: 580px;
    font-size: 18px;
}

.img3 {display: inline-block;
    width: 15%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    opacity: 0.6;
}